
<div class="container-main">
<div class="hero-image">
      <%= image_tag("tea_pics/mike-kenneally-x0t6DiAg118-unsplash (1).jpg", class: "hero-image", height: "700px", width: "1000px") %>
 
  <div class="hero-text">
    <h1 style="font-size:50px">Welcome to the Tea App</h1>
    <p style="font-size:20px">A place to share your love of tea</p>
    <%= link_to "Sign Up", new_signup_path, class: "btn btn-light" %>
    <%= link_to "Log In", new_login_path, class: "btn btn-light" %>
  
  </div>
</div>
</div>

