// Place all the styles related to the signups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#col-1 {
    position: relative;
    width: 50%;
    float: left;
    height: 100%;
  }

  #col-2 {
    position: relative;
    width: 50%;
    float: left;
    height: 100%;
  }